{% extends "base.html" %}

    {% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to ShopKaro</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <br/><br/>
                        Lorem ipsum odor amet, consectetuer adipiscing elit. Proin integer natoque convallis ultricies felis erat mollis ac leo. Ipsum elementum vivamus nulla turpis risus pretium. Sagittis magna turpis placerat potenti tristique placerat sagittis ultricies. Pretium porta finibus efficitur ullamcorper integer. Himenaeos diam imperdiet maximus fusce amet, imperdiet ante pharetra.
                        <br/><br/>
                        Nam ridiculus dolor suspendisse eros arcu nam litora. Efficitur odio elit purus litora volutpat dui. Mattis ex ligula parturient tempor lacus scelerisque? Dictumst sem interdum pretium vestibulum et. Senectus mus augue iaculis vehicula; lobortis ligula nascetur. Pharetra sit porttitor viverra platea eu vulputate massa vehicula! Quam sociosqu vel pretium amet tortor elementum.
                        <br/><br/>
                        Vehicula dolor massa velit sed et senectus vel. Primis auctor sapien at tempus congue placerat metus penatibus. Est viverra interdum turpis non et, morbi ridiculus. Est senectus a at laoreet bibendum, eget eleifend etiam. Augue porttitor dignissim fusce mi condimentum; accumsan viverra conubia. Laoreet accumsan eget sociosqu taciti, adipiscing praesent diam.
                        <br/><br/>
                        Risus bibendum facilisi consequat congue augue quisque tristique ornare. Dis rutrum sollicitudin metus blandit morbi dis. Praesent purus rhoncus fringilla maximus viverra fusce ipsum. Sociosqu mi bibendum sodales porta fames montes nostra. Nisl pharetra id adipiscing sit pulvinar nam. Nibh inceptos faucibus fames tempus natoque ultrices nisi eros. Felis hendrerit cursus ad efficitur curae nec auctor.
                        <br/><br/>
                        Lectus dis iaculis egestas curae lacinia felis ultrices augue tempor. Proin potenti imperdiet; aenean elementum magnis fringilla pharetra. Penatibus vulputate dignissim torquent vehicula semper conubia vivamus. Tellus ad ridiculus quisque nisi curabitur. Bibendum tincidunt laoreet aliquet semper laoreet curae suscipit in. Aptent egestas sit ligula ut viverra ac venenatis. Luctus potenti ac nibh, nec sapien nec vel nisi. Aenean nascetur parturient phasellus tempus ipsum lectus sapien turpis gravida.
                    </p><br/><br/>
                </div>
            </center>
        </div>
    </div>
    {% endblock %}